<ion-header  class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-list>
    <ion-item 
      detail
      *ngFor="let lista of deseosService.listas">
      <ion-label>
        {{ lista.titulo }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarLista()">
      <ion-icon name="add"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
